

.app {
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
  
  margin-left: 10%;
}

.board1{
  margin-top: -723px;
  width: 300px;
  min-height: 650px;
  border: 5px solid lightgray;
  margin-left: 500px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  padding: 20px 10px;
  overflow:hidden
}

.board {
  width: 300px;
  /* min-width: 300px;
  min-height: 400px; */
  border: 5px solid lightgray;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.board__title {
  margin-left: 35px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}

.item {
  width: 200px;
  border: 2px solid lightpink;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #fcfcf9;
}


.btn{
  margin-top: 20px;
  margin-left: 560px;
  width: 200px;
  height: 40px;
  background-color: blue;
  color: #ffff;
  font-size: 26px;
  cursor: pointer;
}


